*color0:                    gray20
*color1:                    orangered1
*color2:                    chartreuse1
*color3:                    gold1
*color4:                    steelblue1
*color5:                    palevioletred1
*color6:                    deepskyblue1
*color7:                    gray60

*color8:                    gray40
*color9:                    coral1
*color10:                   olivedrab1
*color11:                   khaki1
*color12:                   skyblue1
*color13:                   plum1
*color14:                   turquoise1
*color15:                   gray80

*foreground:                rgb:fa/fa/fa
*background:                rgb:4d/4d/4d

!---urxvt---!
urxvt*geometry:             120x36
urxvt*saveLines:            10000
urxvt*font:                 xft:monospace:size=10:antialias=true
urxvt*buffered:             true
urxvt*cursorBlink:          true

urxvt*visualBell:           false
urxvt*loginShell:           false

!---urxvt-scrollbar---!
urxvt*scrollBar:            false
urxvt*scrollstyle:          rxvt
urxvt*scrollBar_right:      true
urxvt*scrollBar_floating:   true
urxvt*scrollColor:          #404040

urxvt*termName: xterm-256color

!---urxvt scroll behaviour---!
urxvt*jumpScroll:           true
urxvt*scrollTtyOutput:      false
urxvt*scrollWithBuffer:     true
urxvt*scrollTtyKeypress:    true

